@import 'tailwindcss';

/* 커스텀 */

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
  .puple_btn {
    @apply bg-purple-600 text-yellow-300 px-4 py-2 rounded-2xl 
               hover:bg-purple-700 transition-colors duration-200;
  }
}

#root .card_swiper .swiper {
  height: 100%;
}
#root .card_swiper .swiper-pagination {
  bottom: 0px !important;
}
#root .card_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
}
#root .card_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

#root .card_swiper .swiper-button-prev,
#root .card_swiper .swiper-button-next {
  background-color: #4a4343;
  border-radius: 50%;
}
#root .card_swiper .swiper-button-prev svg,
#root .card_swiper .swiper-button-next svg {
  height: 50%;
}
#root .card_swiper .swiper-button-prev svg path,
#root .card_swiper .swiper-button-next svg path {
  fill: #fff;
  height: 10px;
}
